<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.allenwu.v2ex</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>CD37BBA7-E8C9-4A02-9EB4-F352666EE8E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20342786-A2F2-4302-AF32-F1BF096ADBF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>allenwu</string>
	<key>description</key>
	<string>获取 V 站当日 10 大热门</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>V2ex</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>20342786-A2F2-4302-AF32-F1BF096ADBF5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>v2</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在获取中ing</string>
				<key>script</key>
				<string>python v2ex.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>v2ex 当日热门</string>
				<key>title</key>
				<string>获取 V2ex 当日 10 大热门</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CD37BBA7-E8C9-4A02-9EB4-F352666EE8E8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>20342786-A2F2-4302-AF32-F1BF096ADBF5</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>CD37BBA7-E8C9-4A02-9EB4-F352666EE8E8</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.v2ex.vom</string>
</dict>
</plist>
